@import "_vars"
@import "_fonts"
@import "_libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

a
	text-decoration: none
	&:hover, &:active
		text-decoration: none

.header 
	background: url(../img/slider.jpg) no-repeat center
	background-size: cover
	height: 1024px	
	.header_wrap
		padding: 36px 0 0

	.mmenu_list
		list-style-type: none
		padding: 0
		margin: 0
		
		.mmenu_item
			display: inline-block
			margin: 0 35px 0 0
			&:last-child()
				margin: 0
			& > a
				color: #ffffff
				font-size: 14px
				&:hover
					color: $accent2

	.icon_wrap 
		& > div
			display: inline-block







@import "media" // Always at the end
