@import "_vars"
@import "_fonts"
@import "_libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold
ul, li 
	list-style-type: none

a
	text-decoration: none
	color: #FFF
	&:hover, &:active
		text-decoration: none

.header 
	background: url(../img/slider.jpg) no-repeat center
	background-size: cover
	height: 1024px	
	.header_wrap
		padding: 36px 0 0

	.mmenu_list
		list-style-type: none
		padding: 0
		margin: 0
		
		.mmenu_item
			display: inline-block
			margin: 0 35px 0 0
			&:last-child()
				margin: 0
			& > a
				color: #ffffff
				font-size: 14px
				&:hover
					color: $accent2

	.icon_wrap 
		& > div
			display: inline-block
		& a
			color: #fff
		
		.cart
			margin-right: 20px

	.main_slider
		color: #fff
		padding: 220px 0 20px

		.slogan_slider
			margin-bottom: 55px
				
			& > span
				display: block

			.text_1
				font-size: 36px
			
			.text_2
				font-size: 52px

			.text_3
				font-size: 16px
				margin: 0 auto

		.button
			display: inline-block
			background-color: $accent
			padding: 12px 44px
			border-radius: 5px
			text-transform: uppercase
			font-weight: bold
			border-bottom: 3px solid #736357
			transition: all 0.1s
			text-shadow: 0 -2px #676767

			&:active
				cursor: pointer
				transform: translate(0px , 3px)
				border-bottom: 1px solid #736357
			&:hover
				color: #fff
				

			












@import "media" // Always at the end
